/node_modules
/vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
*.log
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/public/hot
/public/storage
README.md
docker-compose.yml
Dockerfile
.dockerignore

